.sidebar {
    z-index: 999;
    background-color: $color-primary;

    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;

    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-large) { //max-width pq comecei com desktop
        z-index: -1;

        grid-column: 1 / -1;
        grid-row: 1 / 2;

        justify-content: flex-end;
        align-items: center;

    } 

}

.nav-btn {
    border: none;
    border-radius: 0;

    margin-top: 4rem;

    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    transform: translateY(-3rem);

    &::before,
    &::after {
        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        content: "";
        display: block;
    }
    &::before {transform: translateY(-1.5rem);}
    &::after {transform: translateY(1.5rem);}

    @media only screen and (max-width: $bp-large) { //max-width pq comecei com desktop
        // margin-top: 0;
        margin-right: 3rem;

        &::before {transform: translateY(-1.1rem);}
        &::after {transform: translateY(1.0rem);}
    } 
   
}